body.light {
    background-color: #fefae0;
    color: #283618;
    font-size: 20px;
    line-height: 1.42857143;
    margin: 0;
    padding: 0;
    font-family: bw-gradual;
}
.cta{
   font-size: 30px;
}
body.dark{
    background-color: #a36115;
    color: #000;
    font-family: bw-gradual;
    font-size: 20px;
}
body.dark .title{
    background-color: #606c38;
    color: #283618;
}
body.dark .card{
    background-color: #dda15e;
    color: #283618;
}
.title{
    border-style: solid;
    border-width: 1px;
    border-color: #000;
    background-color: #e9edc9;
    width: 100%;
    margin: none;
}
.hidden{
    display: none;
}
.btn{
    background-color: #ccd5ae;
    color: #000;
    border-style: solid;
    border-color: #000;
    border-radius: 5px;
}
.btn:hover{
    background-color: #e9edc9;
    color:  rgb(86, 84, 84);
    border-style: solid;
    border-color: #000;
}
.blink{
    border: none;
    background-color: transparent;
    font-size: 20px;

}
.blink:hover{
    border: none;
    background-color: transparent;
}


select{
    background-color: #ccd5ae;
    color: #000;
    border-radius: 5px;
    border-style: solid;
    height: 35px;
    border-radius: 5px;
}
select:hover{
    background-color: #e9edc9;
    color: rgb(86, 84, 84);
    border-style: solid;
    border-color: #000;
}
.card{
    background-color: #d4a373;
    border-style: solid;
    border-width: 1px;
    border-color: #000;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
}
